header ,footer{

  border: 1px solid rgb(6, 27, 56);
  background-color:  rgb(6, 27, 56);
  color: white;
  padding: 2%;
}
header>h3{
  margin-left: 44%;
  font-size: 20px;
}
footer>h3{
  margin-left: 44%;
  font-size: 20px;}
.container {
  padding: 25px 25px;
  margin-left: 15%;
}

.food-container {
  width: 100%;
}
